on: [workflow_dispatch]
jobs:
  test-from-project:
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with: { fetch-depth: 0 }
    - name: 'Create build.zig.zon'
      run: |
        cat >build.zig.zon <<EOF
        .{
            .name = "test-project"
            .version = "0.0.0",
            .minimum_zig_version = "0.13.0",
            .paths = .{""},
            .fingerprint = 0x43eaf07faceda5c3,
        }
        EOF
    - name: 'Setup Zig'
      uses: ./
      with: { version: '0.13.0' }
    - name: 'Check `zig version`'
      run: |
        if [ "$(zig version)" != '0.13.0' ]; then
          echo "version mismatch: expected '0.13.0', got '$(zig version)'"
          exit 1
        fi
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        zig_version:
          - 'master'
          - 'latest'
          - '2024.5.0-mach'
          - '0.14.0'
          - '0.14.1' # zig-linux-x86_64 -> zig-x86_64-linux
          - '0.15.0'
          - '0.15.1' # armv7a -> arm (though testing on ARM is TODO!)
          - '0.15.2' # some x.x.2
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - name: 'Checkout'
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with: { fetch-depth: 0 }
    - name: 'Setup Zig'
      uses: ./
      with: { version: '${{ matrix.zig_version }}' }
    - name: 'Test `zig init`'
      run: |
        mkdir init
        cd init
        zig init
        zig build test
